<%= render 'navbar' %>

<div class="green_ribbon animated fadeIn">
  <div class="text_wrapper_large">
    <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<form action="" id="contact_form" class="animated fadeIn">
  <h4 class="contact_form_title">What's your name?</h3>
  <input type='text' placeholder='name' autofocus>
  <h4 class="contact_form_title">How can we reach you?</h3>
  <input type='email' placeholder='email'>
  <h4 class="contact_form_title">What can we do for you?</h3>
  <textarea placeholder='message'></textarea>
  <br>
  <input type='submit' value='send' id="send_button">
</form>
