<%= render 'navbar' %>

<div class="green_ribbon animated fadeIn">
  <div class="text_wrapper_large">
    <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="portfolio_example animated fadeIn" id="secure_inventory">
  <h4 class="portfolio_tag animated fadeIn">secure inventory</h4>
</div>
<div class="portfolio_example animated fadeIn" id="miracle_clean">
  <h4 class="portfolio_tag animated fadeIn">miracle clean</h4>
</div>
<div class="portfolio_example animated fadeIn" id="cindrich_boards">
  <h4 class="portfolio_tag animated fadeIn">cindrich boards</h4>
</div>
